body {
  background-color: #f4f4f4;
}

#new-todo-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 35rem;
    margin-top: 1rem;
  }

  #todo-title {
    font-size: 1.5rem;
    font-family: monospace;
  }
  
  #new-todo-form > * {
    margin: .15rem;
  }
  
  #list {
    padding: 0;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .list-item {
    list-style: none;
    margin: .3rem 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .list-item-label:hover,
  [data-list-item-checkbox]:hover {
    cursor: pointer;
  }
  
  .list-item-label:hover > [data-list-item-text] {
    color: rgb(67, 155, 0);
    text-decoration: line-through;
  }
  
  [data-list-item-checkbox]:checked ~ [data-list-item-text] {
    text-decoration: line-through;
    color: #AAA;
  }

  #todo-input {
    margin: 1.2rem 0 1rem 0;
    height: 1.5rem;
  }
  
  [data-button-delete] {
    margin-left: .5rem;
  }

  [data-button-submit] {
    width: 7rem;
    height: 2rem;
    align-self: center;
    border-radius: .4em;
    border: none;
    background-color: rgb(1, 119, 158);
    color: white;
  }

  [data-button-submit]:hover {
    background-color: rgb(0, 103, 137);
    color: white;
  }
  
  button {
    cursor: pointer;
  }